.commet{
    display: flex;
    margin-top: 1.5rem;
    gap: 1rem;
}

.commet > img{
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
}

.commetBox {
    flex: 1;
}

.commetContent {
    background-color: var(--gray-700);
    border-radius: 8px;
    padding: 1rem;
}

.commetContent header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.authorAndTime strong{
    font-size: 0.875rem; /*14px*/
    display: block;
    color: var(--gray-100);
    line-height: 1.6;
}

.authorAndTime time{
    display: block;
    font-size: 0.75rem;
    line-height: 1.6;
    color: var(--gray-400);
}

.commetContent header button {
    background: transparent;
    border: 0;
    color: var(--gray-400);
    cursor: pointer;
    line-height: 0;
    border-radius: 2px;

    transition: color 0.1s;
}

.commetContent header button:hover {
    color: var(--red-500);
}

.commetContent p {
    margin-top: 1rem;
    color: var(--gray-300);
}

.commetBox footer {
    margin-top: 1rem;
}

.commetBox footer button{
    background: transparent;
    border: 0;
    color: var(--gray-400);
    cursor: pointer;

    display: flex;
    align-items: center;

    border-radius: 2px;
}

.commetBox footer button:hover{
    color: var(--green-300);
}

.commetBox footer button svg{
    margin-right: 0.5rem;
}

.commetBox footer button span{
    margin-left: 0.1rem;
}

.commetBox footer button span::before{
    content: '\2022';
    padding: 0 0.25rem;
}

